* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}
:root {
  --text-color: var(#ff6565);
}

header {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  top: 27px;
  position: absolute;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 41px;
}

header nav ul li {
  list-style-type: none;
}

header nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
nav li:hover {
  opacity: 0.9;
}

header nav img {
  width: 162px;
  height: 32px;
}
/*********************************************HERO SECTION****************************************************************/

#hero-section {
  background-image: url(images/headphones_hero_1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.hero-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 637px;
  height: 313px;
  margin-top: 212px;
  font-weight: bold;
  text-align: center;
}
.hero-info h1 {
  font-size: 32px;
}
.hero-info h3 {
  font-size: 16px;
}
.hero-info p {
  font-size: 16px;
  line-height: 26px;
}

.hero-info button {
  margin-top: 40px;
  margin-bottom: 65px;
  width: 162px;
  height: 44px;
  border-radius: 22px;
  background-color: #ff6565;
  color: white;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  padding: 13px 31px;
}

.hero-info button:hover {
  opacity: 0.9;
}

/* @media screen and (max-width: 645px) {
  #hero-section {
    background-image: url(images/headphones_hero_1.jpg);
    background-position: 40% 40%;
    background-size: auto;
    height: 100vh;
    padding-bottom: 115px;
  }
  header nav ul {
    width: 60%;
  }
  .hero-info p {
    margin: 20px;
  }
}*/
/*********************************************WHAT WE DO SECTION***********************************************************/

#what-we-do {
  height: 695px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.what-we-do-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 637px;
  height: 148px;
}
.what-we-do-info h1 {
  font-size: 32px;
  font-weight: bold;
}
.what-we-do-info p {
  line-height: 26px;
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
}

.what-we-do-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 207px;
  height: 180px;
  text-align: center;
}
.what-we-do-card h2 {
  margin-top: 24px;
}
.what-we-do-card p {
  line-height: 26px;
  font-size: 14px;
  margin-top: 13px;
}
.what-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin-top: 97px;
}

/****************************************************RESPONSIVE****************************************************************/

@media only screen and (max-width: 768px) {
  #hero-section {
    background-image: url(images/headphones_hero_1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-bottom: 115px;
  }
  .hero-info {
    padding: 0px 66px;
  }
  header nav {
    width: 100%;
  }
}
@media only screen and (max-width: 586px) {
  #hero-section {
    background-image: url(images/headphones_hero_1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-bottom: 115px;
  }
  .hero-info {
    padding: 0px 66px;
  }
  header nav ul {
    display: none;
  }

  header nav {
    width: 100%;
  }
}
@media only screen and (max-width: 375px) {
  #hero-section {
    background-image: url(images/headphones_hero_1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-bottom: 115px;
    background: #ff6565;
  }
  .hero-info {
    padding: 0px 66px;
  }
  header nav {
    width: 100%;
  }
}
