* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans ", sans-serif;
}
:root {
  --text-color: var(#ff6565);
}

header {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  top: 27px;
  position: absolute;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 41px;
}

header nav ul li {
  list-style-type: none;
}

header nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
nav li:hover {
  opacity: 0.9;
}

header nav img {
  width: 162px;
  height: 32px;
}
/*********************************************HERO SECTION****************************************************************/

#hero-section {
  background-image: url(images/headphones_hero_1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.hero-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 637px;
  height: 313px;
  margin-top: 212px;
  font-weight: bold;
  text-align: center;
}
.hero-info h1 {
  font-size: 32px;
}
.hero-info h3 {
  font-size: 16px;
}
.hero-info p {
  font-size: 16px;
  line-height: 26px;
}

.hero-info button {
  margin-top: 40px;
  margin-bottom: 65px;

  border-radius: 22px;
  background-color: #ff6565;
  color: white;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  padding: 13px 31px;
}

.hero-info button:hover {
  opacity: 0.9;
}

/*********************************************WHAT WE DO SECTION***********************************************************/

#what-we-do {
  height: 695px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.what-we-do-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 637px;
  height: 148px;
}
.what-we-do-info h1 {
  font-size: 32px;
  font-weight: bold;
}
.what-we-do-info p {
  line-height: 26px;
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
}

.what-we-do-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 207px;
  height: 180px;
  text-align: center;
}
.what-we-do-card h2 {
  margin-top: 24px;
}
.what-we-do-card p {
  line-height: 26px;
  font-size: 14px;
  margin-top: 13px;
}
.what-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin-top: 97px;
}
/**************************************************OUR RESULT SECTION**********************************************************/

#our-result-secction {
  background-image: url(images/headphones_hero_2.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.our-result-section-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 637px;
  text-align: center;
  height: 184px;
}
.our-result-section-info h1 {
  font-size: 32px;
  font-weight: bold;
  margin-top: ;
}
.our-result-section-info p {
  font-size: 16;
  line-height: 26px;
  margin-top: 40px;
}
.pentagon-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 56px;
}
.pentagon-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ff6565;
  width: 190px;
  height: 190px;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.pentagon-card h2 {
  font-size: 46px;
}
.pentagon-card h4 {
  font-size: 14px;
}
