* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}
header {
  display: flex;
  justify-content: center;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: transparent;
  margin-top: 35px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
nav a img {
  width: 167px;
  height: 29px;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
  margin-right: 52px;
  font-size: 12px;
}
nav ul {
  display: flex;
}

#hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  background-image: url(images/Object.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  gap: 168px;
  padding: 100px;
}
/***************************************hero section****************************************************/
#hero-section p {
  font-style: italic;
  font-weight: black;
}
.hero-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 156px;
}
.hero-info h1 {
  color: white;
  font-size: 120px;
  font-weight: bold;
}
.hero-subtext {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
#hero-section button {
  padding: 13px 20px;
  border-radius: 22px;
  margin-top: 38px;
  background-color: #c271ff;
  color: white;
  border: none;
  box-shadow: 0 4px 20px black;
  font-size: 14px;
  cursor: pointer;
}

.card-sec h2 {
  text-align: center;
  margin-bottom: 87px;
  color: white;
  font-size: 32px;
  font-weight: lighter;
}
.card-sec {
  width: 100%;
}
.hero-cards {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.spechial-img {
  border-radius: 50%;
}

.card-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
}
#card-word {
  color: #c271ff;
  font-weight: lighter;
}
/*******************************************quote section*********************************************************/
#quote-section {
  background-color: #c271ff;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.quote-img {
  margin-right: 55px;
}
.quote-info {
  font-size: 22px;
}
.third-card {
  background-color: aqua;
}
/********************************************quote section********************************************************************/
#video-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 655px;
  width: 100%;
}
#video-list h2 {
  font-size: 32px;
  margin-bottom: 75px;
  font-weight: lighter;
}
#video-list h2 span {
  color: #c271ff;
  font-weight: bold;
}
.video-list-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.video-first-img {
  width: 255px;
  height: 155px;
}
.video-second-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.video-play {
  position: absolute;
  top: 20%;
  left: 40%;
  z-index: 999;
  cursor: pointer;
}

.video-it {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: start;
  width: 70%;
}

.video-it img {
  margin-right: 13px;
  justify-content: start;
}

.video-star {
  flex-direction: row;
  display: flex;
  margin-right: 90px;
}
.rating {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.videos-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
#video-list p {
  color: #071629;
  align-items: flex-start;
}
#video-list h4 {
  color: #c271ff;
  align-items: flex-start;
}
.video-star i {
  color: #c271ff;
}
/**************************************************membership****************************************************************/

#membership {
  height: 505px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #071629;
}
.membership-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 160px;
  width: 100%;
  color: white;
  line-height: 30px;
  margin: 85px 58px;
  font-size: 14px;
}

.membership-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.membership-card img {
  margin-bottom: 27px;
}

.membership-card h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

#membership h2 {
  font-size: 32px;
  font-weight: lighter;
  color: white;
}
#membership h2 span {
  color: #c271ff;
  font-weight: bold;
}

#membership button {
  background-color: #c271ff;
  color: white;
  width: 162px;
  height: 44px;
  border-radius: 22px;
  cursor: pointer;
  font-size: 14px;
}
/**********************************************F.A.Q************************************************************************/
